body {
  background-image:url('background.jpg');
  background-size:cover;
}

.bg-darksalmon {
  background-color: darksalmon;
}
#search-city {
    
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-right: 0;
}
#search-city:focus{
  border:2px solid tomato;
}
#search-btn {
    background: linear-gradient(45deg,lightgreen, skyblue);
 
}
